<form method="post" action="/create">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" id="filename" name="filename">
    <input type="submit" value="Create">
  </div>
</form>