<form method="post" action="/users/signin">
  <div>
    <label for="username">Username:
      <input type="text" id="username" name="username" value="<%= @username %>" />
    </label>
  </div>
  <div>
    <label for="password">Password:</label>
      <input type="text" id="password" name="password" />
    <label>
  </div>
  <button type="submit">Sign In</button>
</form>